/* 標籤選取器 */

h2 {
    color: orange;
}

h2 {
    color: #15dbf5;
}

/* 類別選取器 class(可重複使用)*/

.abc {
    color:palevioletred;
}


/* 
    首字只可使用英文、底線
    不可使用特殊符號除了 _ -
*/

/* id選取器 (只可使用一次)*/

#xyz {
    color: #2a3ef0;
}
/* 
    權重-套用css的優先順序
    影響的元素越少，權重越重(物以稀為貴)
    id > class > tag

    當樣式衝突時，先判斷權重，若權重相同，則判斷順序，後寫會套用

*/