<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <p>
            {{description}}
        </p>
        <div v-if="qty > 5">庫存充足</div>
        <div v-else-if="qty > 0">低庫存</div>
        <div v-else>補貨中</div>
        <div v-for="drink in drinks">
            {{drink.name}}:NT${{drink.price}}
        </div>
    </div>
    <script>
        let drinks = [
            {
                name:'紅茶',
                price: 30
            },
            {
                name:'綠茶',
                price: 30
            },
            {
                name:'奶茶',
                price:35
            },
            {
                name:'珍珠奶茶',
                price: 50
            }
        ];
        Vue.createApp({
            data(){
                return {
                    title: 'Hello Vue',
                    description: 'lorem ipsum',
                    qty: 6,
                    drinks: drinks
                }
            }
        }).mount('#app')
    </script>
</body>
</html>