* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Sagoe UI','微軟正黑體';
}
img {
    width: 100%;
    vertical-align: top;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0;
    padding: 15px;
}
.w-100 {
    width: 100%;
}