nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* height: 60px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222;
}
nav ul {
    list-style: none;
    display: flex;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding:10px;

    transition: .6s;
    display: block;
    border-radius: 5px;
}
/* 虛擬類別 */
.nav-menu a:hover {
    color: #222;
    background-color: #fa0;
}
nav li {
    margin: 0 5px;
}
/* header */

header {
    position: relative;
}
.header-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
header h1 {
    font-size: 60px;
}

/* about */

#about {
    padding-top: 150px;
    padding-bottom: 150px;
}
#about h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
}
.about-icon {
    width: 150px;
    margin:0 auto 30px;
    text-align: center;

    background-color: #fa0;
    height: 150px;
    border-radius: 50%;
}
.about-icon i {
    line-height: 150px;
    color: #fff;
}
.about-content {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2em;
}
.about-content h3 {
    margin-bottom: 20px;
    font-size: 26px;
}
/* folio */
#folio {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #fff8eb;
}
#folio h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
}
.folio-link {
    position: relative;
    display: block;
    color: #fff;
    font-size: 1.4rem;

    overflow: hidden;
}
.folio-title {
    position: absolute;
    /* background-color: rgba(0,0,0,.5); */
    background-image: linear-gradient(transparent,rgba(0,0,0,.7));
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;


    transition: .5s;
}
.folio-link:hover .folio-title {
    opacity: 1;
    height: 100%;
}
/* service */
#service {
    padding-top: 150px;
    padding-bottom: 150px;
}
#service li {
    list-style: none;
    border-bottom: solid 1px #c3c3c3;
    padding: 10px 0;
}
#service h3 {
    border-bottom: solid 2px #c3c3c3;
    padding: 10px 0;
}
#service a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    margin-top: 10px;
    background-color: #fa0;
    border-radius: 5px;
    float: right;
    transition: .5s;
}
#service a:hover {
    background-color: #ffc654;
}
#service h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
}

.service-content {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}
/* contact */
#contact h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
}
#contact {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #fff8eb;
}
form {
    width: 70%;
    margin: auto;
}
.form-item {
    margin-bottom: 15px;
}
.form-label {
    display: block;
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ffebc2;
    outline:0;
    transition: .5s;
}
.form-control:focus {
    border: 2px solid #ffbf40;
}
